:root {
    --gr: #007f28;
}
html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: Iciel;
    src: url(./Fonts/iCielCadena.otf);
}
@font-face {
    font-family: AvoBold;
    src: url(./Fonts/UTM\ AvoBold.ttf);
}
@font-face {
    font-family: AvoItalic;
    src: url(./Fonts/UTM\ AvoItalic.ttf);
}
@font-face {
    font-family: AvoBoldItalic;
    src: url(./Fonts/UTM\ AvoBold_Italic.ttf);
}
.underline-none{
    text-decoration: none;
}
.bg-gr{
    background-color: var(--gr);
}
.ff-iciel {
    font-family: Iciel;
}
.ff-avobold {
    font-family: AvoBold;
}
.ff-avobolditalic {
    font-family: AvoBoldItalic;
}
.ff-avoitalic {
    font-family: AvoItalic;
}
.fs-big{
    font-size: 4rem;
}
.fs-small{
    font-size: 0.9rem;
}
.fs-smaller{
    font-size: 0.8rem;
}
.text-gardiant {
    color: transparent;
    background: linear-gradient(rgb(255, 247, 2), rgb(255, 247, 2), orange, orange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px var(--gr);
    filter: drop-shadow(0 -1px 0 white) drop-shadow(0 3px 0px var(--gr));
}
.text-yellow {
    color: yellow;
}
.text-gr {
    color: var(--gr);
}
.text-stroke {
    stroke: 2px var(--gr);
    -webkit-text-stroke: 2px var(--gr);
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
    filter: drop-shadow(0 -1px 0 rgba(255, 255, 255, 0.8)) drop-shadow(0 4px 0px rgb(9, 185, 9, 0.5));
}
.text-upper {
    text-transform: uppercase;
}
.btn {
    display: block;
    background: linear-gradient(yellow, yellow, yellow, orange, orange);
    border-radius: 50px;
    text-transform: uppercase;
    font-family: AvoBold;
    border: 2px solid white;
    transition: 0.2s;
    box-shadow: 0 -3px 10px var(--gr);
}
.btn:hover {
    color: var(--gr);
    border: 2px solid white;
    transform: translateY(-4px);
}
.btn:active{
    color: black !important;
    transform: none;
}
/* ----------------- */
#container{
    background-image: url(./image/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position:top center;
    width: 100%;
    overflow: hidden;
    transform-origin: top left;
}

/* Header */
header>div{
    justify-content: space-between;
}
header img{
    max-width: 10rem;
}

/* Main */
.part1 .img-title img{
    max-width: 80%;
    animation: img-title 1.5s ease-in-out;
}
@keyframes img-title {
    0%{
        transform: translateY(-120%) scale(0.8);
    }
    65%{
        transform: translateY(-120%) scale(0.8);
    }
    78%{
        transform: translateY(3%) scale(1);
    }
    90%{
        transform: scale(1.4);
    }
}
.part1 .img-title h1{
    font-size: 1.5rem;
    transform: translateY(-40%);
}
.part1 .form-area img.left{
    max-width: 25%;
    object-fit: contain;
    display: none;
}
.part1 .form-area img.right{
    max-width: 25%;
    object-fit: contain;
    display: none;
}
.form {
    background-color: #109f5d;
    font-family: AvoBoldItalic;
    width: 350px;
    border: 10px solid #f8f8f8;
    border-radius: 50px;
    height: max-content;
    box-shadow: 0 0 20px white;
    position: relative;
    z-index: 2;
    transform: scale(0.8);
}
.form-in{
    animation: form-in 0.8s ease-in-out;
}
.form-error{
    animation: form-error 0.3s ease-in-out !important;
}
.form:hover{
    animation: form-flicker 0.2s ease-in-out;
}
@keyframes form-in{
    0%{
        transform: translateX(-300%) scale(0.3);
        opacity: 0.5;
    }
    50%{
        transform: translateX(300%) scale(0.5);
    }
}
@keyframes form-error{
    40%{
        transform: translateX(-20px);
    }
    85%{
        transform: translateX(20px);
    }
}
@keyframes form-flicker{
    50%{
        opacity: 0.8;
    }
}
.form input,
.form select {
    background-color: transparent;
    border: none;
    border-radius: unset;
    padding-left: 5px;
    color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid white;
}
.form input:focus,
.form select:focus {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    box-shadow: none;
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.9);
}
.form option{
    background-color: var(--gr);
}

/* Part 2 */
.part2 {
    position: relative;
}
.part2 .text-title h1{
    font-size: 1.5rem;
}
.part2 .content img{
    width: 100%;
    object-fit: contain;
}
.part2 .content .left{
    width: 24%;
    transform: translate(5%,5%);
    display: none;
}
.part2 .content .right{
    width: 100%;
    position: relative;
}
.part2 .list-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
}
.part2 .content-item{
    position: relative;
    margin-bottom: 1rem;
    /* opacity: 0; */
}
.part2 .content-item.active{
    animation: content-item 1s ease-in-out;
    opacity: 1;
}
@keyframes content-item {
    0%{
        transform: rotate(-20deg) scale(0);
        transform-origin: left;
        opacity: 0;
    }
}
.part2 .content-item .number-left{
    font-size: 5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: green;
    font-weight: 900;
    text-shadow: 7px 0px 1px #ecedef;
    position: absolute;
    right: 97%;
    top: 50%;
    transform: translateY(-50%);
}
.part2 .content-item p{
    font-size: 0.6rem;
    font-family: AvoBoldItalic;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #01ad3f;
    padding-left: 1.5rem;
    padding-right: 1rem;
    margin: 0;
}
.part2 .btn{
    width: max-content;
    position: absolute;
    bottom: 0;
    left: 0;

}

/* part3 */
.part3{
    margin-top: 3rem;
}
.part3 .text-title h1{
    font-size: 1.6rem;
}
.part3 .text-title h1:first{
    font-size: 2rem;
}
.part3 .iframe-box{
    position: relative;
    margin: 0 auto;
}
.part3 .iframe-box img{
    display: none;
    width: 100%;
}
.part3 .iframe-box iframe{
    margin: 1rem 0;
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5)
}
.part3 .content{
    width: 100%;
}
.part3 .content .content-item{
    background-color: var(--gr);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.part3 .btn{
    width: max-content;
    margin: 0 auto;
}

/* part 4 */
.part4{
    position: relative;
    margin-top: 2rem;
}
.part4 .bg-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.part4 .bg-img img{
    width: 100%;
}
.part4 img.hc{
    width: 35%;
    object-fit: cover;
}
.part4 .img-box{
    position: relative;
    width: 42%;
}
.img-box::after{
    content: '';
    display: block;
    height: 50px;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    filter: blur(15px);
    position: absolute;
    top: 75%;
    left: 0;
    border-radius: 50%;
}
.part4 .img-box img{
    width: 100%;
}

/* part5 */
.part5{
    margin-top: 3rem;
}
.container-feedback{
    max-width: 100%;
    overflow-x: scroll;
}
.feedback-group {
    position: relative;
    margin-top: 4rem;
    /* opacity: 0; */
}
.feedback-group.active{
    animation: feedback 0.5s ease-in-out;
    opacity: 1;
}
@keyframes feedback{
    0%{
        transform: translateY(50%);
        opacity: 0;
    }
}
.feedback-group img.box {
    width: 290px;
}
.feedback-group .text {
    font-size: 0.9rem;
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    line-height: 20px;
    padding: 0 0.5rem;
    text-align: justify;
}
.feedback-group img.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 5px solid orange;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -55%);
    box-shadow: 0 0 15px black;
}
.feedback-group .infor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
}
.feedback-group .infor .card{
    background-color: transparent;
    border: none;
}
.feedback-group .infor .card .card-body >*{
    text-align: center;
    color: white;
    text-shadow: 0 3px 5px var(--gr);
}

/* Footer */
.telephone{
    width: 6rem;
    height: 6rem;
    background-color: orange;
    border-radius: 50%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    animation: zoominout 1.5s ease-in-out infinite;
}
@keyframes zoominout{
    40%{
        transform: scale(0.8);
        box-shadow: 0 0 10px white;
    }
    60%{
        transform: scale(0.8);
        box-shadow: 0 0 10px white;
    }
}
.icon-telephone{
    font-size: 0.8rem;
}
.mess{
    width: 4rem;
    height: 4rem;
    background-color: #38ca79;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    filter: drop-shadow(0 -1px 2px rgba(255, 255, 255, 0.5));
}
.icon-mess{
    font-size: 30px;
}
footer .contact{
    background-color: #006837;
    font-family: 'Times New Roman', Times, serif;
}
footer .logo{
    width: 100%;
}

/* ------------------------------- */

@media (min-width: 765px) {
    header>div{
        justify-content: space-around !important;
    }
    .part1 .img-title img{
        width: 30rem;
    }
    .part1 .form-area img{
        position: absolute;
        top: 10rem;
    }
    .part1 .form-area img.left{
        width: 10rem;
        display: block;
        left: 50%;
        transform: translate(calc(-50% - 200px));
    }
    .part1 .form-area img.right{
        width: 7rem;
        display: block;
        right: 50%;
        transform: translate(calc(60% + 200px));
    }
    .part2 .content .left{
        width: 56%;
        display: block;
    }
    .part2 .content-item p{
        font-size: 0.8rem;
    }
    .part3 .content .content-item{
        text-align: center;
    }
    .part4 .bg-img{
        transform: translateY(-10%);
    }
}

@media (min-width: 1020px) {
    .part2 .text-title h1{
        font-size: 2.5rem;
    }
    .part2 .btn{
        bottom: 0.8rem;
    }
    .part3 .text-title h1{
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .part1 .img-title h1{
        font-size: 1.8rem;
    }
    .part1 .form-area img.left{
        width: 12rem;
        top: 0;
        transform: translate(calc(-65% - 200px), 27%);
    }
    .part1 .form-area img.right{
        width: 9rem;
        top: 0;
        transform: translate(calc(80% + 200px), 22%);
    }
    .form{
        transform: translateY(-5%);
    }
    .part2{
        margin-top: 5rem;
    }
    .part2 .content .left{
        width: 30%;
    }
    .part2 .content .right{
        width: 50%;
    }
    .part2 .btn{
        bottom: -0.5rem;
        font-size: 1.5rem;
    }
    .part3{
        margin-top: 8rem;
    }
    .part3 .iframe-box{
        margin: 0;
        padding: 0;
    }
    .part3 .iframe-box iframe{
        width: 400px;
        position: absolute;
        left: 20%;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    }
    .part3 .iframe-box img{
        display: block;
    }
    .part3 .content{
        position: absolute;
        width: 30%;
        height: 100%;
        top: 0;
        right: 1.5rem;
    }
    .part3 .content .content-item{
        text-align: start;
        background-color: unset;
        padding: 1rem 1.5rem;
    }
    .part4 .bg-img{
        transform: translateY(-15%);
    }
    .part4 .img-box{
        width: 50%;
        transform: translate(3%,-10%);
    }
    .container-feedback{
        justify-content: center;
        overflow-y: hidden;
    }
    .feedback-group{
        opacity: 0;
    }
}

@media (min-width: 1365px) {
    .part1 .form-area img.left{
        width: 14rem;
    }
    .part1 .form-area img.right{
        width: 10rem;
    }
    .part2 .content-item{
        opacity: 0;
    }
    .part4 .text h1{
        font-size: 4rem;
    }
    .part4 .img-box{
        width: 45%;
    }
}

@media (min-width: 1440px) {
    .part1 .img-title img{
        width: 35rem;
    }
    .part1 .form-area img.left {
        width: 15rem;
        transform: translate(calc(-85% - 200px), 27%);
    }
    .part1 .form-area img.right {
        width: 10rem;
        transform: translate(calc(100% + 200px), 30%);
    }
    .part2 .content-item{
        margin-bottom: 2rem;
    }
    .part2 .content-item p{
        font-size: 0.9rem;
    }
    .part2 .btn{
        font-size: 2rem;
    }
}

@media (min-width: 1535px){
    .part1 .img-title img{
        width: 40rem;
    }
    .part1 .form-area img.left{
        width: 16rem;
    }
    .part1 .form-area img.right {
        width: 11rem;
        transform: translate(calc(120% + 200px), 30%);
    }
    .part1 .img-title h1{
        font-size: 2.2rem;
    }
    .part2 .content .left {
        width: 27%;
    }
    .part2 .content .right {
        width: 48%;
    }
    .part2 .btn{
        bottom: 0.3rem;
    }
}

*{
    /* box-shadow: 0 0 2px black; */
}